extends layout

block content
	div.container
		div#div404
			h1 ¡Oh noes!
			img(src="/images/death.jpg")
			h4 Parece que la página que estás buscando no existe. Utiliza el menú para seguir navegando.
  
