extends layout

block content
	.container
		div.vistaCat
			each categoria in categorias
				a(href="/productos/categorias/"+categoria.nombre)
					div.cat
						figure
							img(src=categoria.img)
						h2=categoria.nombre