/*Generales*/
* {
	margin:0;
	padding:0;
	box-sizing:border-box;
	font-family: 'Open Sans', sans-serif;
}

html, body {
	height:100%;
	background-image: url('../img/background.jpg');
	background-size:500px auto;
}

.container {
	padding:20px;
	display:flex;
	flex-wrap:wrap;
	width:85%;
	margin:0 auto;
	background-color:#9582a7;
	color:white;
	min-height:100%;
}

aside {
	margin-top:20px;
	padding:0 10px;
	width:35%;
}

h1, form, p{
	margin-bottom:40px;
}

h1 {
	color:#fada82;
}

#nombre {
	height:30px;
	border-radius:10px;
	background:lightyellow;
	text-align:center;
}

#error {
	font-size:11px;
	text-transform:uppercase;
	color:pink;
}


.icono {
	font-size:17px;
	margin-left:5px;
	color:#fada82;
}

.icono:hover {
	color:turquoise;
	transition:0.5s;
}

h3 {
	color:pink;
}

button {
	width:150px;
	height:50px;
	border-radius:15px;
	border-color:#87cfc8 ;
	background:#a3dad5;

}

#tablero {
	margin-top:20px;
	display:flex;
	flex-wrap:wrap;
	align-content:flex-start;
	width:65%;
}

.slotficha {
	width:180px;
	height:180px;
	overflow:hidden;
	background-image: url('../img/backgroundfichas.jpg');
	background-size: 100px auto;
	background-color:pink;
	margin:10px;
	border-radius:10px;
}

img {
	max-width:100%;
	height:auto;
}

.anverso {
	opacity:1;
	filter:saturate(0.75);
}

.lock {
	opacity:0;
}

.reverso {
	opacity:0;
}

.win {
	filter:saturate(1.1);
	transition:0.4s;
}

/************************************MEDIA QUERIES*********************************************/

@media all and (max-width:1500px) {
	.slotficha {
		width:170px;
		height:170px;
	}

	h1, form, p{
	margin-bottom:50px;
}

}

@media all and (max-width:1450px) {
	.slotficha {
		width:160px;
		height:160px;
	}

	h1, form, p{
	margin-bottom:50px;
}

@media all and (max-width:1400px) {

	.container {
		flex-direction:column;
		justify-content:center;
		align-items:center;
	}

	aside {
		width:75%;

	}
	#tablero {
		width:90%;

		justify-content:center;
	}

	.slotficha {
		width:200px;
		height:200px;
		margin:5px;
	}

	h1, form, p{
	margin-bottom:30px;
	}

}

/*FALTAN BREAKPOINTS*/

@media all and (max-height:700px) {

	.slotficha {
		width:130px;
		height:130px;
	}
}

