/*Generales*/

* {
	margin:0 auto;
}

.container {
	width:1480px;
}

#galaxia, form, #copyright {
	text-align:center;
}

form, #social {
	margin-top:1.5%;
	margin-bottom:1.5%;
}

/*Imagen*/

#galaxia {
	width:100%;
	height:440px;
}

/*Formulario*/

input {
	margin-left:15px;
	margin-right:15px;
}

/*Redes Sociales*/

#social {
	text-align:right;
}

#social img {
	width:36px;
	height:36px;
}


/*Media queries*/

@media all and (max-width:991px) {
input, label {
	margin-top:10px;
	margin-bottom:10px;
}

#social {
	text-align:center;
}

}

@media all and (max-width:1480px) {

* {
	max-width:100%;
}

#galaxia {
	height:auto;
}

}

