
* {
	margin:0;
	padding:0;
}

body {
	background-image: url("Rainbow16.jpg");
    background-repeat: no-repeat;
    width: 100%;
}

.container {
	width:80%;
	margin:0 auto;
	background:oldlace;
	padding:40px;
}


h1 {
	margin:30px 0;
}
h1, #ingreso {
	text-align:center;
}

#ingreso {
	display:flex;
	flex-flow:column wrap;
	align-items:center;
	width:80%;
	margin:0 auto;
}

#input-boton {
	display:flex;
	align-content:center;
	width:100%;
}

#agregar {
	border:none;
	background:palevioletred;
	color:white;
	padding:0 10px;
	width:60%;
	opacity:0.7;
}

#agregar:hover {
	opacity:0.85;
}

#agregar:active {
	opacity:1;
}

input {
	width:100%;
	margin-right:5px;
}

#agregar, input {
	height:40px;
	border-radius:10px;
}

ul {
	margin:10px 0;
	text-align:left;
	width:100%;
}

ul li {
	margin:10px;
	padding:10px;
	list-style:none;
	display:flex;
	width:100%;
	flex-wrap:wrap;
	align-items:center;
	justify-content:space-between;
	background:mediumturquoise;	
}



.eliminar, .editar, .edit, .cancel {
	height:40px;
	width:100px;
	margin:5px;
}

.ocultar {
	display:none;
}

.show {
	display:block;
}