*{
	font-family: 'Roboto', sans-serif;
}

.container {
	width:75%;
	margin:0 auto;
}

h1 {
	text-align:center;
}

li {
	list-style:none;
	background:lightskyblue;
	padding:5px;
	margin:5px auto;
	width:80%;
	border-radius:10px;
}

h5 {
	color: #000080;
}