.container {
	width:90%;
	margin: 0 auto;
	text-align:center;
}

#logo, nav {
	background:pink;
	height:3em;
	display:inline-block;
}

#logo {
	margin-left:0.5%;
	margin-right:3.5%;
	width:40%;
}

nav {
	margin-right:0.75;
	width:55%;
}

.fila article {
	width:23.75%;
	margin:0.5%;
	height:240px;
	background:lightskyblue;
	display:inline-block;
}

#boxes article {
	width:31.5%;
	margin:0.75%;
	height:300px;
	background:violet;
	display:inline-block;
}

footer {
	height:5em;
	background:limegreen;
}
/*
.container {
	margin:0 auto;
	width:90%;
	text-align:center;
}

header {
	margin:1em;
	position:relative;
}

#logo, nav {
	background:lightskyblue;
}

#logo, nav {
	height:2em;
	display:inline-block;
	float:left;
}

#logo {
	width:53%;
}

nav {
	width:45%;
	float:right;
}
#grilla {
	position:absolute;
	top:4em;
	margin:0 auto;
	text-align:center;
}
.fila article {
	margin:0 auto;
	text-align:center;
 	height:16em;
 	width:16em;
 	margin-right:1.5em;
	background-color:pink;
	display:inline-block;
}
*/