* {
	margin:0;
	padding:0;
	font-family:sans-serif;
	
}

body {
	background-image:url('party.jpg');
	background-size:300px auto;
}

.container {
	width:80%;
	background:white;
	margin:0 auto;
	margin-top:40px;
	padding:10px;
}

h2 {
	margin-bottom:5px;
	text-align:center;
	font-family: 'Fredoka One', cursive;
	color:#ff4703;
}

form {
	display:flex;
	flex-direction:column;
}

#imagenes {
	display:flex;
	flex-wrap:wrap;
	justify-content:center;
}

#imagenes figure {
	width:225px;
	height:auto;
	margin:1%;
}

.opcion {
	max-width:100%;
	height:auto;
}

#campos {
	margin:5px 10px;
	display:flex;
	flex-direction:row;
	flex-wrap:wrap;
	justify-content:center;
	align-items:center;
}

.campo {
	margin:0 12px;
	position:relative;
}

input {
	height:25px;
	border-radius:5px;
	width:150px;
}

#boton {
	align-self:center;
	width:25%;
	height:30px;
	border-radius:5px;
	background:#3cccd2;
	border-color:#00e5ee;
}

.error {
	display:block;
	font-size:9px;
	color:crimson;
	text-transform:uppercase;
	text-align:right;
	position:absolute;
	right:1px;

}