/*Generales*/
* {
	margin:0;
	padding:0;
	box-sizing:border-box;
	font-family: 'Open Sans', sans-serif;
}

html, body {
	/*height:100%;*/
	background-image: url('../img/background.jpg');
	background-size:500px auto;
}

.container {
	
	padding:50px;
	display:flex;
	flex-wrap:wrap;
	justify-content:center;
	width:85%;
	max-width:1480px;
	margin:60px auto;
	background-color:white;
	color:black;
}

aside {

	padding:0 10px;
	width:35%;
}

h1, form, p{
	margin-bottom:40px;
}

h1 {
	color:#5c9294;
}

#nombre {
	height:30px;
	border-radius:10px;
	background:lightyellow;
	text-align:center;
}

#error {
	font-size:11px;
	text-transform:uppercase;
	color:pink;
}


.icono {
	font-size:17px;
	margin-left:5px;
	color:#fada82;
}

.icono:hover {
	color:turquoise;
	transition:0.5s;
}

h3 {
	color:#abdac6;
}

button {
	width:150px;
	height:50px;
	border-radius:15px;
	border-color:#87cfc8 ;
	background:#a3dad5;

}

#tablero {
	display:flex;
	flex-wrap:wrap;
	align-content:flex-start;
	width:55%;
}

figure {
	overflow:hidden;
}

.slotficha {
	width:125px;
	height:125px;
	background-image: url('../img/backgroundfichas.jpg');
	background-size: 300px auto;
	background-color:pink;
	margin:10px;
	border-radius:12px;
	box-shadow: 0px 2px 2px 2px gray;
}

img {
	max-width:100%;
	height:auto;
	border-radius:10px;
	object-fit:cover;
}

.anverso {
	opacity:1;
	filter:saturate(0.75);
}

.lock {
	opacity:0;
}

.reverso {
	opacity:0;
}

.win {
	filter:saturate(1.1);
	transition:0.4s;
}

#ganamos {
	display:flex;
	flex-wrap:wrap;
	justify-content:center;
}

#ganamos h2 {
	text-align:center;
	width:100%;
}

/************************************MEDIA QUERIES*********************************************/


@media all and (max-width:1400px) {
		.container {
		flex-direction:column;
		justify-content:center;
		align-items:center;
	}

	aside {
		width:60%;

	}
	#tablero {
		margin-top:20px;
		width:60%;
		justify-content:center;
	}

	h1, form, p{
		margin-bottom:30px;
	}
	.slotficha {
 		width:110px;
 		height:110px;
 	}
}

@media all and (max-width:1220px) {
 	.slotficha {
 		width:97px;
 		height:97px;
 	}
}

@media all and (max-width:1070px) {
	#tablero {
		width:70%;
	}
	aside {
		width:70%;
	}
}

@media all and (max-width:920px) {
	#tablero {
		width:75%;
	}
	aside {
		width:75%;
	}
}

@media all and (max-width:860px) {
	#tablero {
		width:80%;
	}
	aside {
		width:80%;
	}
}

/*@media all and (max-width:815px) {
	#tablero {
		width:85%;
	}
	aside {
		width:85%;
	}
}*/

@media all and (max-width:815px) {
	#tablero {
		width:90%;
	}
	aside {
		width:90%;
	}
}

@media all and (max-width:730px) {
	#tablero {
		width:95%;
	}
	aside {
		width:95%;
	}
}

@media all and (max-width:730px) {
		#tablero {
		width:100%;
	}
	aside {
		width:100%;
	}
}