<!DOCTYPE html>
<html>
<head>
	<link href="css/main.css" rel="stylesheet" type="text/css">
	<title>Layout 1</title>
</head>
<body>
		<div class="container">
				<div id="logo">
					Logo
				</div>
				<nav>
					<a href="#">1</a>
					<a href="#">2</a>
					<a href="#">3</a>
				</nav>
				<header>
				</header>
				<div id="algo">
						<aside>
						</aside>
						<div id="bodyarea">
						</div>
				</div>
				<div class="clearfix">
				</div>
				<footer>
				</footer>
		</div>
</body>
</html>