.container {
	width:90%;
	margin:0 auto;
	text-align:center;
	position:relative;
}

#logo, nav, header, aside, #bodyarea, footer {
	background:pink;
}

header {
	margin-top:20px;
	height:50px;
}

aside {
	margin-top:20px;
	width:28%;
	height:150px;
	display:inline-block;
	float:left;
}

#bodyarea {
	margin-top:20px;
	width:70%;
	height:150px;
	display:inline-block;
	float:right;
}

footer {
	height:150px;
	position:relative;
	/*top:190px;*/
}