extends layout

block content
	div.container
		div.login
			h3.centrado Ingres치 tu usuario y contrase침a
			form(class="formRegistro" id="formLogin" method="POST" action='/registro/ingreso')
					label(for="usuario") usuario
					input(type="text" id="usuario" name="logUser")
					label(for="logPass") contrase침a
					input(type="password" id="contrase침a" name="logPass")
					a(href="/registro/registrarse" class="cambio") Crear una cuenta
					p#errorIngreso
					if error
						p#errorPass= error
					button(type="submit" id="ingresar") Ingresar
