extends layout

block content
	div.container
		div.vistaProducto
			figure
				img(src=producto.img)
			div.datosProd
				h3= producto.nombre
				h4 $#{producto.precio}
				p Cupcake ipsum dolor sit amet oat cake liquorice. Tiramisu cookie cake wafer oat cake. Bonbon cheesecake wafer pie chocolate bar chocolate cake jelly-o chocolate bar. Jelly-o sesame snaps lemon drops gummi bears chocolate jujubes cupcake. Pudding chocolate cake cheesecake gummies carrot cake. Chocolate cake topping biscuit pudding jelly cookie ice cream. Ice cream cheesecake candy cake cotton candy. Soufflé tart pastry cookie lemon drops macaroon tart marzipan. Muffin cake chocolate bar caramels. Pie wafer icing danish tart sweet powder jelly beans. 
