extends layout

block content
	.container
		.nav#prodNav
			each categoria in categorias
				a(href="/productos/categorias/"+categoria.nombre)=categoria.nombre
			a(href="/productos") mostrar todos
		div.grilla
			each producto in productos
				div.producto
					img(src=producto.img)
					h2= producto.nombre
					h5 precio: $#{producto.precio}
					a(href='/productos/'+producto.cod) ver detalle
					div.cart
						input(type="number" min="0")
						i.fas.fa-shopping-cart

					