doctype html
html
	head
		title Cupcake Ipsum Inc
		link(rel='icon' href='/images/logo.png')
		link(href='https://fonts.googleapis.com/css?family=Ranga' rel='stylesheet')
		link(href='https://fonts.googleapis.com/css?family=Jua|Open+Sans' rel='stylesheet')
		link(rel='stylesheet' href='https://use.fontawesome.com/releases/v5.0.13/css/all.css' integrity='sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp' crossorigin='anonymous')
		link(rel='stylesheet' href='/stylesheets/owl.carousel.min.css')
		link(rel='stylesheet' href='/stylesheets/owl.theme.default.css')
		link(rel='stylesheet', href='/stylesheets/style.css')
	body
			nav
				div.navitems
					a(href="/" id="home") home
					a(id="categorias" href="/categorias") categorías
					a(href="/productos") productos
					a(href="/registro") Login/Registrarse
				div.buscador
					input(type="text" id="busqueda" placeholder="Soy decorativo, por ahora")
					a(href="")
						i.fas.fa-search
			header 
				h1 Cupcake Ipsum Inc.
			block content
			footer
				div
					h3 Cupcake ipsum inc
					p Nosotros
					p Información
					p Contacto
					p Política de privacidad
					p Términos de uso
				div
					h3 Candy canes brownie
					p biscuit
					p fruitcake
					h3 Croissant
					p Gummi bears
					p Marzipan
				div
					h3 Tiramisu
					p biscuit
					p Gummi bears
					p Marzipan
					p Lollipop
					p Topping
				div.redes
					h2 ¡Seguinos en las redes!
					i.fab.fa-instagram
					i.fab.fa-pinterest
					i.fab.fa-facebook

			script(src='https://code.jquery.com/jquery-3.3.1.min.js' integrity='sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=' crossorigin='anonymous')
			script(src='/javascripts/owl.carousel.min.js')
			script(src='/javascripts/main.js')
			
