* {
	font-family: "Open Sans";
	margin:0;
	padding:0;
}

body {
	background-image: url("../img/background.jpg");
	background-size:500px auto;
}

.container {
	width:20%;
	margin:0 auto;
	margin-top:50px;
	border: 10px double brown;
	border-radius:10px;
	padding:50px;
	background:oldlace;
}


.campo {
	margin:15px auto;
}

#comprar {
	padding:10px;
	border-radius:5px;
	background:#b3c8d6;
}