/*Generales*/
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Open Sans', sans-serif;
    -webkit-user-select: none; /*Evitan que se pueda seleccionar texto/divs.*/
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

body {
	background-image: url('../img/background.jpg');
	background-size: 500px auto;
}

.container {
	margin: 40px auto;
	background-color: white;
}

#inicio {
	min-height:600px;
	border:3px double black;
	border-radius:5px;
	text-align:center;
	display:flex;
	flex-direction:column;
	justify-content:center;
	align-items:center;
}

#player {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content:center;

}

#player label {
	font-size:20px;
	font-weight:normal;
	margin:20px 0;
}

select, #nombre {
	height:40px;
	border:none;
	border-radius:5px;
	box-shadow: 0 5px 5px 3px lightgray;
	color:gray;
}

select {
	width:130px;
}

select:focus {
	outline:none;
}

#nombre {
	width:250px;
	text-align: center;
}

#player img {
	width:220px;
	height:auto;
	border-radius:50%;
	margin: 10px 0;
}

#comenzar {
	margin-top:20px;
	width:100%;
	display:block;
}

#instrucciones{
	margin-left: 10px;
}

#error {
	font-size: 15px;
	text-transform: uppercase;
	color: crimson;
	margin-bottom:0px;
	margin-left:12%;
	position:absolute;
}

select {
	display:block;
	margin:0 auto;
}

#imgdificultad {
	max-height:250px;
	max-width:250px;
}

h1, form, p{
	margin-bottom: 20px;
}

h1, #verPuntuaciones {
	color: #5c9294;
}

#verPuntuaciones:hover {
	font-weight:bold;
	cursor:pointer;
}

h3  {
	color: #abdac6;
}

#areaboton {
	margin-left:15px;
	padding: 0;
}

button {
	width: 100%;
	height: 60px;
	border-radius: 15px;
	border-color: #87cfc8 ;
	background: #23b89f;
	text-transform:uppercase;
	color:white;
	font-size:1.5em;
}

figure {
	overflow: hidden;
}

.tile {
	padding: 10px;
}

.slotficha {
	background-image: url('../img/backgroundfichas.jpg');
	background-size: cover;
	background-color: pink;
	border-radius: 12px;
	box-shadow: 0px 2px 2px 2px gray;
}

img {
	max-width: 100%;
	height:auto;
	border-radius: 10px;
}

#reinicio {
	margin-left:10px;
}

.hide {
	visibility:hidden;
}

#puntajes {
	border:9px double black;
	position:absolute;
	top:80px;
	right:50%;
	transform:translateX(50%);
	background:white;
	padding:10px;
}

#puntajes ul {
	text-align:center;
}

#puntajes ul li {
	list-style:none;
}

#puntajes h3 {
	text-align:center;
}

#cerrar {
	width:100%;

}

/*Clases utilizadas en JS*/

/*Clase que muestra la ficha*/
.anverso {
	opacity: 1;
}

/*Clases que ocultan y traban las fichas respectivamente*/
.reverso, .lock {
	opacity:0;
}

/*Clase que se le asigna a las fichas cuando se acierta*/
.win {
	filter:saturate(0);
	transition:0.4s;
}

/*Clase del nodo que aparece al ganar o perder*/
.result {
	margin-top:10px;
	display:flex;
	flex-wrap:wrap;
	justify-content:center;
}

.result h2 {
	text-align:center;
	width:100%;
}

/***********MEDIA QUERY*********/

@media all and (max-width:980px){
	.tile {
		padding:5px;
	}

	#filaAside {
		padding-left:0px;
	}

	#instrucciones {
		margin-left:5px;
	}

	#tablero {
		margin-top:10px;
	}

	#reinicio {
		margin-left:0px;
	}

	#error {
		margin-left:20%;
	}
}