extends layout

block content
	div.paginas
		div.grilla
			each animal in animales
				div.animal
					figure
						img(src=animal.imagen)
					div.animalDatos
						p=animal.nombre
						div.icons
							a(href="/views/"+animal.nombre)
								i.fas.fa-eye
							a(href="#")
								i.fas.fa-heart
		div.paginado
			each pagina in paginas
				a(class="numero" href='/views/filtro/'+pagina)
						p=pagina
