doctype html
html
	head
		title Pancho SA
		link(rel='stylesheet' href='https://use.fontawesome.com/releases/v5.0.13/css/all.css' integrity='sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp' crossorigin='anonymous')
		link(href='https://fonts.googleapis.com/css?family=Coiny' rel='stylesheet')
		link(rel='stylesheet', href='/stylesheets/style.css')
	body
		header
			a(href="/")
				h1 Pancho SA
		div.container
			div.formulario
				form
					label(for="especie") Especie
					select(name="especie")
						option(val="todas") Todas
						option(val="perro") Perro
						option(val="gato") Gato
					label(for="edad") Edad
					select(name="edad") 
						option(val="todas") Todas
						option(val="cachorro") Cachorro
						option(val="adulto") Adulto
					label(for="tamaño") Tamaño
					select(name="tamaño")
						option(val="todos") Todos
						option(val="pequeño") Pequeño
						option(val="grande") Grande
					input(id="filterButton" action="/filtro" type="submit" value="filtrar")
			block content
